@model IEnumerable<InventaryWeb.Models.Category>

@{
    ViewBag.Title = "Index";
}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="row">
        <form class="form-inline">
            <div style="margin-bottom: 10px; margin-top:15px; border-bottom:10px">
                <div class="col-lg-14">
                    <a style="font-size:14px" class="btn btn-success btn-on fa fa-plus" id="create-category" href="@Url.Action("Create","Categories")">
                        Crear Nueva Categoria
                    </a>
                </div>
            </div>
        </form>
    </div>
</nav>

<card class="card">
    <card class="card-header">
        <h2>Categorias</h2>
    </card>
    <card class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-xs btn-success" href="@Url.Action("Details","Categories",new { id=item.Id })">
                                    Detalles
                                </a>
                                <a class="btn btn-xs btn-info" href="@Url.Action("Edit","Categories",new { id=item.Id })">
                                    Editar
                                </a>
                                <a class="btn btn-xs btn-danger" href="@Url.Action("Delete","Categories",new { id=item.Id })">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </card>
</card>

<a class="btn  btn-danger" href="@Url.Action("Index","Products")">Cancelar</a>
@section Scripts {
    <script>
                $(".datatable").DataTable({});
    </script>
}
